body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page-1-main {
    background-color: rgb(255, 128, 0);
    color: white;
}
.navagationbar {
    color:orange;
    overflow: hidden;
}

.navagationbar a {color: aliceblue;}