body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.page-1-main {
    background-color: #f65113;
    color: white;
}
.navagationbar {
    color:antiquewhite;
    overflow: hidden;
    background-color: #f65113;
}

.navagationbar a {
    color: antiquewhite;
    background-color: #f9b31c;
}

.navagationbar a:hover {
    color: antiquewhite;
    background-color: #f9b31c;
}

.container {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

.selection-overlay {
    position: fixed;
    display: none;
    width: 70%;
    height: 50%;
    min-width: 70%;
    min-height: 50%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}