<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <header>
            <button onclick="">New Widget</button>
        </header>
        <div id="selection-overlay">
            
        </div>
        <div id="container"></div>
    </body>
    <script src="{{ url_for('static', filename='js/loader.js')}}" type="module"></script>
    <script>const baseURL = '{{ url_for("static", filename="") }}';</script>
    <script>
        const params = new URLSearchParams();
        const id = params.get("id");
        setUpDashboard(id);
    </script>
</html>