<!DOCTYPE html>
<script src="/static/js/api.js"></script>
<script src="/static/js/loader.js"></script>
<html>
    <head>
    </head>
    <body>
        <header>
            <div class="navagationbar">
                <a href="/">Home/a>
                <a class="active" href="/dashboard">dashboard</a>
            </div>
            <button onclick="">New Widget</button>
        </header>
        <div id="overlay">
            <p>Select a widget</p>
        </div>
        <div id="container"></div>
    </body>
</html>
<script>
    const params = new URLSearchParams(window.location.search);
    setID(params.get("id"));
    setUpDashboard();
</script>>