<!DOCTYPE html>
<script src="/static/js/api.js"></script>
<script src="/static/js/loader.js"></script>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <div class="navagationbar">
                <a href="/">Home</a>
                <a class="active" href="/dashboard">Dashboard</a>
            </div>
            <button id="button">New Widget</button>
        </header>
        <div id="overlay">
            <p>Select a widget</p>
        </div>
        <div id="container"></div>
    </body>
</html>
<script>
    const params = new URLSearchParams(window.location.search);
    setID(params.get("id"));
    setUpDashboard();

    document.getElementById('button').addEventListener("click", () => {
        addWidget('example_widget');
    });
</script>