<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link 
            type="text/css" 
            rel="stylesheet" 
            href="{{url_for('static', filename='css/style.css')}}" 
        />
        <title>WorkManger</title>
    </head>
    
<body>
        <header>
            <div class="navagationbar">
                <a class="active" href="/"></a>
            </div>
        </header>
        <h1>WorkManger</h1>
        <h2>Manger-(french),to eat.</h2>
        <div id="page-1-main">
            <p>Organize and manage all of your data, work, files, and much more in this fun food themed work manager.</p>
        </div>
    </body>
</html>