<!DOCTYPE html>
<script src="/static/js/loader.js"></script>
<html>
    <head>
        <script type="application/javascript">
            import { get, load } from '/static/js/loader.js';
            api.get('/');
            document.getElementById('text').innerHTML = "Connected_";
            alert("test");
            try {
                load('example_widget', 'container', '');
                const iframe = get("example_widget", "");
                const p = document.createElement('p');
                p.innerText = "Success";
                document.getElementById('container').innerHTML += iframe;
                document.getElementById('text').innerText += p.innerText;
                alert("test_");
            } catch (err) {
                var p = document.createElement('p');
                p.innerText = err;
                document.getElementById('text').innerText = err;
            }
            start();
        </script>
    </head>
    <body>
        <div id="container" style="height: auto; width: auto;"></div>
        <p id="text">Placeholder</p>
        <button onclick="load('example_widget', 'container', '')">Start</button>
    </body>
</html>
