<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div id="container"></div>
        <p id="text">Placeholder</p>
    </body>

</html>
<script type="application/javascript">
    import { get, load } from '/static/js/loader.js';
    addEventListener("DOMContentLoaded", (event) => {
        document.getElementById('text').innerHTML = "Connected_";
        alert("Your dim");
        try {
            const iframe = get("example_widget", "");
            const p = document.createElement('p');
            p.innerText = "Success";
            document.getElementById('container').innerHTML += iframe;
            document.getElementById('text').innerText += p.innerText;
            alert("Your dim_");
        } catch (err) {
            var p = document.createElement('p');
            p.innerText = err;
            document.getElementById('text').innerText = p.innerText;
        }
    });
</script>